<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-echo"
        version="1.0.11">

    <name>EchoPlugin</name>
    <description>Cordova Android Echo Plugin written in Kotlin</description>
    <license>Apache-2.0</license>
    <keywords>cordova,kotlin,android,outsystems,echo</keywords>

    <!-- JavaScript Interface -->
    <js-module src="www/echo.js" name="echo">
        <clobbers target="cordova.plugins.echo" />
        <clobbers target="window.echo" />
    </js-module>

    <!-- Android Platform -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Echo">
                <param name="android-package" value="org.apache.cordova.plugin.echo.Echo" />
            </feature>
            <!-- Enable Kotlin support in Cordova Android / OutSystems MABS -->
            <preference name="GradlePluginKotlinEnabled" value="true" />
            <preference name="GradlePluginKotlinCodeStyle" value="official" />
            <preference name="GradlePluginKotlinVersion" value="1.8.22" />
        </config-file>

        <config-file target="config.xml" parent="/*">
            <preference name="GradlePluginKotlinEnabled" value="true" />
            <preference name="GradlePluginKotlinCodeStyle" value="official" />
            <preference name="GradlePluginKotlinVersion" value="1.8.22" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>

        <!-- Dependencies -->
        <framework src="com.clerk:clerk-android-api:1.1.1" />
        <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />

        <!-- Source Files -->
        <source-file src="src/android/org/apache/cordova/plugin/echo/Echo.kt" target-dir="src/main/kotlin/org/apache/cordova/plugin/echo" />
    </platform>

    <!-- iOS Platform -->
    <platform name="ios">
        <preference name="SwiftVersion" default="5.0" />
        <preference name="UseSwiftLanguageVersion" default="5.0" />

        <config-file target="config.xml" parent="/*">
            <feature name="Echo">
                <param name="ios-package" value="EchoPlugin" />
            </feature>
            <preference name="SwiftVersion" value="5.0" />
            <preference name="UseSwiftLanguageVersion" value="5.0" />
        </config-file>

        <!-- URL Scheme Support for Clerk OAuth & Hosted Auth Redirects -->
        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleURLName</key>
                    <string>com.clerk.ios</string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>clerk</string>
                        <string>org.luvelo.dev.ClerkApp1</string>
                        <string>org.luvelo.dev.ClerkApp2</string>
                    </array>
                </dict>
            </array>
        </config-file>

        <!-- Keychain Sharing Entitlements for OutSystems MABS Cloud Builds -->
        <config-file target="**/Entitlements-Debug.plist" parent="keychain-access-groups">
            <array>
                <string>$(AppIdentifierPrefix)org.luvelo.dev.shared</string>
            </array>
        </config-file>

        <config-file target="**/Entitlements-Release.plist" parent="keychain-access-groups">
            <array>
                <string>$(AppIdentifierPrefix)org.luvelo.dev.shared</string>
            </array>
        </config-file>

        <config-file target="**/*.entitlements" parent="keychain-access-groups">
            <array>
                <string>$(AppIdentifierPrefix)org.luvelo.dev.shared</string>
            </array>
        </config-file>

        <!-- iOS Frameworks -->
        <framework src="AuthenticationServices.framework" />
        <framework src="Security.framework" />
        <framework src="WebKit.framework" />

        <!-- Source & Header Files -->
        <header-file src="src/ios/EchoPlugin-Bridging-Header.h" type="BridgingHeader" />
        <source-file src="src/ios/EchoPlugin.swift" />
    </platform>

</plugin>
